{% extends "block.html.twig" %}

{% block main %}

    <div class="title-article-container">
        <h3 class="title-article">{{ category.name }}</h3>
    </div>

    <p>{{ article.description }}</p>
    

{% endblock %}