{% extends "block.html.twig" %}

{% block main %}

    <div class="title-article-container">
        <h3 class="title-article">Membre</h3>
    </div>

    <div>
        <h2>{{ member.username }}</h2>
        <h2>{{ member.email }}</h2>
    </div>    

{% endblock %}